@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.8.18 
*/

html {

    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 150%;
}

body {
    width: 100%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-shadow: 5px 2.5px 10px rgb(0, 0, 0);
}

section#topleft h2 {
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

section#topleft {
    display: block;
    padding-top: 50px;
}

section#topleft p {
    float: left;
    width: 50%;
    margin: 0;
    padding-left: 25px;
    text-align: center;
}

section#topright h2 {
    float: right;
    width: 50%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

section#topright {
    display: block;
    padding-top: 50px;
}

section#topright p {
    float: right;
    width: 50%;
    margin: 0;
    padding-right: 25px;
    text-align: center;
}

section#bottomleft h2 {
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

section#bottomleft {
    display: block;
    padding-top: 50px;
}

section#bottomleft p {
    float: left;
    width: 50%;
    margin: 0;
    padding-left: 25px;
    text-align: center;
}

section#bottomright h2 {
    float: right;
    width: 50%;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}

section#bottomright {
    display: block;
    padding-top: 50px;
}

section#bottomright p {
    float: right;
    width: 50%;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

/* div.placeholder {
    width: 50%;
}

section p.placeholderImage {
    color: rgb(92, 89, 89);
    border: 1px solid rgb(0, 0, 0);
} */