@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.8.18 
*/

/* These two block of code style the overall appearance of this web page by centering & setting the height & width of both the html & body element. */

html {

    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* This section of code is for the content within the div element & the div element itself. It centers the text & gives it a size of 30 pixels. As for the div itself, this piece of code gives it a width of 80%, centers it on the body, & applies padding to the top. */

div {
    width: 80%;
    margin: auto;
    padding-top: 5em;
}

div p {
    text-align: center;
    font-size: 30px;
}