@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.2.18 
*/

/* This section of code is also similar to the main.css file except the difference is also the height & background color in both the 'body' & 'html' element. */

html {
    background-color: rgb(44, 72, 104);
    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 100%;
}

body {
    width: 100%;
    height: 110%;
    background-color: rgb(131, 127, 127);
    margin-left: auto;
    margin-right: auto;
}

/* This style rule removes the underline from the list items with the id of 'contact' that is nested within a 'ul' element. */

ul li#contact {
    text-decoration: none;
}

/* This style rule is for all of the 'div' elements & applies a font size of 200%, padding of 2em, centered text, & a text-shadow. */

div {
    text-align: center;
    font-size: 200%;
    padding: 2em;
    text-shadow: 2.5px 2px 5px rgb(0, 0, 0);
}

/* This last style rule styles the image. It displays the image as a block, sets the margin to auto, rounds its borders, applies a box-shadow, rotates it by -90 degrees, & gives it a width of 50%. */

img {
    display: block;
    margin: auto;
    border-radius: 50%;
    box-shadow: 10px 5px 20px rgb(0, 0, 0);
    transform: rotateZ(-90deg);
    width: 50%;
}