@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.8.18 
*/

body h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 100px 0px 50px 0px;
    font-size: 50px;
}

ul.main li {
    width: 33.33%;
}


html {
    background: linear-gradient(rgb(12, 25, 41), rgb(92, 89, 89));
}

body {
    background: linear-gradient(rgb(92, 89, 89), rgb(12, 25, 41));
}

nav ul li {
    background: linear-gradient(rgb(12, 25, 41), rgb(92, 89, 89));
}

/* figcaption a {
    text-decoration: none;
    color: rgb(209, 221, 221);
}

figcaption a:hover,
figcaption a:active {
    color: rgb(201, 201, 175);
} */