@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.2.18 
*/

html {
    background-color: rgb(16, 34, 56);
    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 100%;
}

body {
    width: 100%;
    height: 95%;
    background-color: rgb(105, 102, 102);
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(24, 24, 24) 0px 10px 60px;

}

/* body h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 100px 0;
    font-size: 50px;
} */

ul.main li {
    display: block;
    width: 25%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(63, 78, 92);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(24, 24, 24);

}

ul.main {
    padding-left: 0;
    margin: 0;

}


ul.main li::after {
    display: table;
    content: "";
    clear: both;
}


nav ul.main li:hover {
    background-color: rgb(57, 72, 85);
}

nav>ul.main>li>a {
    text-decoration: none;
    color: azure;


}

nav>ul.main>li>a:hover,
nav>ul.main>li>a:active {
    color: rgb(201, 201, 175);
    /* display: block; */

}

nav ul.main li a {
    display: block;
    /* width: 100%; */

}



p#placeHolder {
    padding-top: 100px;
    text-align: center;
}