@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.2.18 
*/

/* This large block of code is responsible for styling both the html & body element. This gives the html a backgound image & styles said image, applies a certain font to all text, gives elements a box-shadow & text a text-shadow, colors the text, provides a linear gradient for the body, sets the opacity, & changes the font of all text, which is used by all of the web pages. */

html {
    background-color: rgb(12, 25, 41);
    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 110%;
    color: rgb(170, 170, 170);
    background: linear-gradient(rgb(12, 25, 41), rgb(68, 72, 75), rgb(92, 89, 89));
    background-image: url('grandcanyon.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1450px 1050px;
    opacity: .98;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    width: 100%;
    height: 130%;
    background-color: rgb(92, 89, 89);
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(24, 24, 24) 0px 10px 60px;
    background: linear-gradient(rgb(92, 89, 89), rgb(68, 72, 75), rgb(12, 25, 41));
}

/* This section of code is for styling the navigatin bar, the links, & the list items. It gives them color, sets the links to a different color when hovered over, & gives it a bottom border. */

ul.main li {
    display: block;
    width: 25%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(52, 64, 75);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(24, 24, 24);
}

ul.main {
    padding-left: 0;
    margin: 0;
}

ul.main li::after {
    display: table;
    content: "";
    clear: both;
}

nav ul.main li:hover {
    background-color: rgb(40, 51, 59);
}

nav>ul.main>li>a {
    text-decoration: none;
    color: rgb(209, 221, 221);
}

nav>ul.main>li>a:hover,
nav>ul.main>li>a:active {
    color: rgb(201, 201, 175);
}

nav ul.main li a {
    display: block;
}

/* This style rule gives all text in all web pages a black text-shadow. */

p {
    text-shadow: 5px 2.5px 10px rgb(0, 0, 0);
}