@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.2.18 
*/

/* This block of code styles the web page & its body similarly to the main.css file. The only difference being the height of the page & body. The web page as a whole has a height of 150% instead of 110% & the body has a height of 100% instead of 130%. */

html {

    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 150%;
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* This section of code is for all of the sections with various ids. All sections have a width of 45% & aligned text. These style rules affect the sections with the ids of 'image', 'topright', 'bottomleft', & 'bottomright'. The difference between the different sections is where they float & their padding. The 'image' section has a background image & styles that background image. */

section {
    width: 45%;
    text-align: center;
}

section#image {
    float: left;
    padding-left: 30px;
    padding-top: 100px;
    width: 45%;
    height: 40%;
    background-image: url("skills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 5px 2.5px 20px rgb(0, 0, 0);
}

section#topright {
    float: left;
    padding-left: 30px;
    padding-bottom: 30px;
}

section#bottomleft {
    float: left;
    padding-left: 30px;
}

section#bottomright {
    float: right;
    padding-right: 30px;
}

/* This style rule is responsible for the appearance of the 'h2' elements. The 'h2' elements are cantered, as well as their text, are underlined, have a text-shadow, & have padding on top. */

h2 {
    text-align: center;
    margin: auto;
    text-decoration: underline;
    text-shadow: 2px 2.5px 10px rgb(0, 0, 0);
    padding-top: 25px;
}

/* This small block of code style the link the is within the paragraph element by applying a text color of rgb(255, 255, 255) & no text decoration. When the user hovers over said link, the color changes to an rgb of (155, 50, 255). */

p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p a:hover {
    color: rgb(155, 50, 255);
}