@charset "utf-8";

/*
 Author: Khalel Abaquin
 Date: 11.2.18 
*/

html {

    max-width: 960px;
    min-width: 640px;
    margin: auto;
    height: 150%;
}

body {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 50%;
    width: 40%;
}

/* header p {
    background-color: rgb(209, 221, 221);
    margin: auto;
} */

/* header div {
    background-color: rgb(209, 221, 221);
    margin: auto;
} */

section#topleftorimage {
    float: left;
    width: 45%;
    text-align: center;
    padding-left: 30px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    /* border: .1px solid rgb(0, 0, 0); */
}

section#topleftorimage::after {
    clear: both;
    content: "";
    display: table;
}

section#topright {
    /* float: left; */
    /* ^^was originally right^^ */
    width: 45%;
    text-align: center;
    padding-right: 30px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    clear: both;
}

section#topright::after {
    clear: both;
    content: "";
    display: table;
}

section#bottomleft {
    float: left;
    width: 45%;
    text-align: center;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: auto;
    /* clear: both; */
    clear: right;
}

section#bottomleft::after {
    clear: both;
    content: "";
    display: table;
}

section#bottomright {
    /* float: right; */
    width: 45%;
    text-align: center;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
    clear: both;
}

section#bottomright::after {
    clear: both;
    content: "";
    display: table;
}